h1{
    font-family: Arial;
    color: rgb(255, 255, 255);
	font-size: 50px;
}

h3{
    font-family: Arial;
    color: rgb(255, 255, 255);
}

*{
    font-family: Arial;
    color: rgb(36, 36, 36);
}

.BTN{
    width: 150px;
    height: 50px;
    font-size: 20px;
	border-radius: 20px;
	border: none;
	position: grid;
	box-shadow: 0px 5px 0px #6A6A6A;
}

.box{
    height: 100px;
    width: 500px;
    text-align: center;
}

body{
    background-color: rgb(27, 27, 27);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
	overflow: hidden;
}

button:hover{
	background-color: gray;
}

button:active{
	box-shadow: 0px 0px 0px #6A6A6A;
	transform: translateY(5px);
{


	